body {
    background-color: #f8f9fa;
}
.navbar, h5.bg-primary {
    background-color: #131f45 !important;
}
.card {
    cursor: pointer;
}
.card-placeholder {
    border: 2px dashed #ccc;
    height: 60px;
    margin-bottom: 0.5rem;
}